@using Warehouse.ViewModel
@model Warehouse.ViewModel.SupplierViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<table style="width:100%" class="table table-striped">
    <tr>
        <td>Nazwa firmy</td>
        <td>Narodowość</td>
        <td>Miasto</td>
        <td>Kod pocztowy</td>
        <td>Adres</td>
        <td>Numer konta</td>
        <td>Podatek</td>

    </tr>


    @foreach (var item in Model.Supplierslist)
    {
        <tbody>
            <tr>
                <td>@item.Name</td>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.ZipCode</td>
                <td>@item.Address</td>
                <td>@item.AccNo</td>
                <td>@item.TaxNo</td>
            </tr>
            
        </tbody>
    }
    </table>



@Html.ActionLink("Add", "Add", null, new { @class = "btn btn-primary" })
